/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */
#closed-captions p {
	opacity: 0;
	transition: .05s;
	position: absolute;
	background: #000;
  padding: 10px;
	font-size: 1.5em;
}
#closed-captions .on {
	opacity: 1;
}
#closed-captions .off {
	transition: .2s;
	opacity: 0;
}

.voice1 {
	font-style: italic;
}

#closed-captions {
	margin: auto 28.65vw;
  display: block;
  border-style: none;
}

.voice3 {
	font-weight: 700;
	color:#C62626;
}

body {
	color: #fff;
	background-color: #000;
}

iframe {
	margin: 15vh auto 50px;
	display: block;
  border-style:none;
}

/* **********************************************
source gif:
https://giphy.com/gifs/l3nWay9wKNdq6WTxm
https://giphy.com/gifs/game-trippy-psychedelic-l2ZE1w79xHAEBgwOk
https://giphy.com/gifs/jodeus-processing-hypnotic-jodeus-Qw4X3FnfbmY5HaKlnqw
********************************************** */

/* **********************************************
The first paragraph, with extended timing for
	all siblings. Basically what it does is that
	it shows the text after a delay, which
	corresponds with the time that the word is
	spoken.
You probably want to change the styling.
********************************************** */

.p6.on span:first-of-type {
	font-size: 1.6rem;
}
.p6.on span:nth-of-type(2) {
	font-size: 1.6rem;
}

/* **********************************************
Questioning part
*********************************************  */


.p12.on , .p15.on , .p18.on , .p20.on , .p23.on , .p26.on , .p29.on , .p31.on ,
.p34.on , .p37.on , .p39.on , .p41.on , .p42.on , .p43.on {
	font-weight: bold;
}

/* **********************************************
Sounds.
	You can style the whole body, or you can
	style anything within the body the moment
	a sound starts.
*********************************************  */

.sound0 {
	background-image: url(images/bg1.gif);
	background-size: cover;
  background-position: center;
}

.sound1 {
	background: #000;
	animation: pulseblue 3s 1;
}

.sound2 {
	background-image: url(images/bg1.gif);
	background-size: cover;
	background-position: center;
}

.sound2 {
	background-image: url(images/bg4.gif);
	background-size: cover;
	background-position: center;
}

.sound4 {
	animation: scan 2s 1;
	background-size: cover;
	background-position: center;
}

.sound7 {
	animation: scan2 4s 1;
	background-size: cover;
	background-position: center;
}

.sound9 {
	animation: hypnotic 43s 1;
}

/* **********************************************
Keyframes
	Some animations behavior
*********************************************  */

@keyframes pulseblue {
	from {
		background-color: #000;
	}

	50% {
		background-color: rgb(0, 0, 100);
	}

	to {
		background-color: #000;
	}
}

@keyframes scan {
	from {
		background-image: url(images/bg2.gif)
	}

	to {
		background: #000;
	}
}

@keyframes scan2 {
	from {
		background-image: url(images/bg2.gif)
	}

	to {
		background: #000;
	}
}

@keyframes hypnotic {
	from {
		background-image: url(images/bg3.gif)
	}

	to {
		background-image: url(images/bg3.gif)
	}
}
